<html>
    <head>
      <title>Tinu's covid-19 statistics</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container-fluid">

            <div class="jumbotron text-center">
                <h3>Total-overview in relation to the Swiss population</h3>
            </div>
            <div class="text-center">
                <img class="img-fluid" src="https://tinuwalther.pythonanywhere.com/static/images/covid-sum-overview.png" />
            </div>

            <div class="jumbotron text-center">
                <h3>Average-overview in relation to the number of days</h3>
            </div>
            <div class="text-center">
                <img class="img-fluid" src="https://tinuwalther.pythonanywhere.com/static/images/covid-avg-overview.png" />
            </div>

            <div class="jumbotron text-center">
                <h3>Dayli overview</h3>
            </div>
            <div class="text-center">
                <img class="img-fluid" src="https://tinuwalther.pythonanywhere.com/static/images/covid-dayli-cases.png" />
                <br><br>
                <img class="img-fluid" src="https://tinuwalther.pythonanywhere.com/static/images/covid-dayli-newcases.png" />
                <br><br>
                <img class="img-fluid" src="https://tinuwalther.pythonanywhere.com/static/images/covid-dayli-host-dead.png" />
            </div>

        </div>

    </body>
</html>