<html>
    <head>
        <title>Tinu's covid-19 statistics</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content={{ author_name }}/>
        <meta name="keywords" content="Covid, Covid19, Covid-19, Covid-Statistics, Covid-Statistics of Switzerland, Coronavirus, BAG, FOPH, Switzerland, Python" />

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"  />
        <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet"  />

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"  ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"  ></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"  ></script>

        <style>
            p { margin-top: 1em; }
            p { margin-bottom: 1em; }
        </style

    </head>
    <body>

        <!-- Navbar as a heading -->
        <nav Class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top"  >
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Swiss covid-statistics</a>
                <button Class="navbar-toggler" data-toggle="collapse" type="button" data-target="#collapsibleNavbar"  >
                    <span Class="navbar-toggler-icon"  ></span>
                </button>
                <div Id="collapsibleNavbar" Class="collapse navbar-collapse"  >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link" href="#sum">{{ total_overview_nav_title }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#avg">{{ avg_overview_nav_title }}</a>
                        </li>

                        <!-- daily overview -->
                        <div class="btn-group">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ daily_overview_nav_title }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#daily-overview">Overview</a>
                                <!-- a class="dropdown-item" href="#daily-cases">Confirmed case</a -->
                                <a class="dropdown-item" href="#daily-hosp">Hospitalisations and deaths</a>
                            </div>
                        </div>

                        <!-- weekly average -->
                        <div class="btn-group">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ weekly_average_nav_title }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <a class="dropdown-item" href="#weekly-avg-overview">Average</a>
                                <!-- a class="dropdown-item" href="#weekly-avg-cases">Average of cases</a -->
                                <a class="dropdown-item" href="#weekly-avg-hosp">Hospitalisations and deaths</a>
                            </div>
                        </div>

                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-xxl">

            <a id="sum"></a>
            <div class="jumbotron text-center">
                <h3>{{ total_overview_title }}</h3>
                <hr>
                <p>{{ total_overview_text }}</p>
            </div>
            <div class="text-center">
                <span>
                    <p><img class="img-fluid" src={{ total_overview_chart }} /></p>
                </span>
            </div>

            <a id="avg"></a>
            <div class="jumbotron text-center">
                <h3>{{ avg_overview_title }}</h3>
                <hr>
                <p>{{ avg_overview_text }}</p>
            </div>
            <div class="text-center">
                <span>
                    <p><img class="img-fluid" src={{ avg_overview_chart }} /></p>
                </span>
            </div>

            <a id="daily-overview"></a>
            <div class="jumbotron text-center">
                <h3>{{ daily_overview_title }}</h3>
                <hr>
                <p>{{ daily_overview_text }}</p>
            </div>
            <div class="text-center">
                <span>
                    <p><img class="img-fluid" src={{ daily_overview_chart }} /></p>
                </span>
            </div>

            <a id="daily-hosp"></a>
            <div class="jumbotron text-center">
                <h3>{{ daily_overview_title }}</h3>
                <hr>
                <p>{{ daily_new_text }}</p>
            </div>
            <div class="text-center">
                <span>
                    <p><img class="img-fluid" src={{ daily_new_chart }} /></p>
                </span>
            </div>

            <a id="weekly-avg-overview"></a>
            <div class="jumbotron text-center">
                <h3>{{ weekly_average_title }}</h3>
                <hr>
                <p>{{ weekly_average_text_all }}</p>
            </div>
            <div class="text-center">
                <span>
                    <p><img class="img-fluid" src={{ weekly_average_chart_all }} /></p>
                </span>
            </div>

            <a id="weekly-avg-hosp"></a>
            <div class="jumbotron text-center">
                <h3>{{ weekly_average_title }}</h3>
                <hr>
                <p>{{ weekly_average_text_spec }}</p>
            </div>
            <div class="text-center">
                <span>
                    <p><img class="img-fluid" src={{ weekly_average_chart }} /></p>
                </span>
            </div>

        </div>

        <div class="container-fluid">
            <div class="text-center">
                <p>{{ timestamp.strftime("%A, %d %B %Y %X") }} UTC</p>
            </div>
        </div>

        <p><br><hr><br></p>

        <footer>
            <nav class="navbar fixed-bottom navbar-light bg-light">
                <div class="container-fluid">
                    <a href="#" class="text-dark font-weight-bold">TOP</a>
                    <p>
                        Copyright © {{ timestamp.strftime("%Y") }}
                        <a href="https://tinuwalther.github.io/" target="_blank" class="text-dark">{{ author_name }}</a>
                    </p>
                    <a href="https://www.covid19.admin.ch/en/overview?ovTime=total" target="_blank" class="text-dark font-weight-bold">BAG</a>
                </div>
            </nav>
        </footer>

    </body>
</html>